*.exe
*.dll

tests and backups/
publish/
Release_MD/
Release/
Debug/
x64/
installer/32bit
installer/upload
installer/64bit
ipch/
rundir/crowdin

*.dat
*.clbin
*.log
*.tlog
*.sdf
*.opensdf
*.xml
*.ipch
*.css
*.xslt
*.aps
*.suo
*.ncb
*.user
*.o
*.obj
*.pdb
*.res
*.manifest
*.dep
*.zip
*.lnk
*.chm
*~

!OBSHelp/*.css
!OBSHelp/*.htm
!x264/libs/64bit/*.dll
!x264/libs/32bit/*.dll
