*.exe
*.dll

tests and backups/
publish/
Release/
Debug/
x64/
installer/32bit
installer/upload
installer/64bit
ipch/

*.sdf
*.opensdf
*.xml
*.ipch
*.filters
*.css
*.xslt
*.aps
*.suo
*.ncb
*.user
*.o
*.obj
*.pdb
*.res
*.manifest
*.dep
*.zip
*.lnk
*.chm
