			<!-- Footer -->
				<div id="FooterPush"></div>
			</div>
		
			<div id="Footer">

				<div class="container_12">

					<div class="grid_12 footer">
						<div class="footerText">
							<p>Open Broadcaster Software created by <a href="https://github.com/jp9000/OBS/graphs/contributors">these lovely folk</a></p>
							<p>Website created by <a href="http://www.warchamp7.ca">Warchamp7</a> - Help File created by <a href="http://www.jack0r.com">Jack0r</a></p>
						</div>
					</div>
					
				</div>
				
			</div>

	</body>
</html>