<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://www.w3.org/2005/10/profile">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="robots" content="index, follow" />
	<meta name="description" content="Open Broadcaster Software is free and open source software for recording and live streaming. Both 32 and 64 bit versions are available and it's absolutely free!" />
	<title>Open Broadcaster Software - Help Files</title>

	<link rel="icon" type="image/png" href="http://obsproject.com/images/favicon.png" />
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700" rel="stylesheet" type="text/css" />
	<link rel='stylesheet' media='all' href='{{ site.baseurl }}/assets/960.css'  type='text/css' />
	<link rel="stylesheet" media="screen" href="{{ site.baseurl }}/assets/style.css"  type="text/css" />
	<link rel="stylesheet" media="screen" href="{{ site.baseurl }}/assets/main.css"  type="text/css" />	
</head>
	<body>
		<div id="Wrapper">
			<div id="HeaderContainer">
				<div class="container_12">
					<div class="grid_12" id="Header">
						<div>
							<a href="/OBS"><img class="logo" src="http://obsproject.com/images/OBSLogo80.png" style="border:0px !important;" alt="OBS Logo" /></a>
							<div class="header_text">
								<h1>Open Broadcaster Software</h1>
								<p>Free, open source software for live streaming and recording</p>
							</div>
						</div>

					</div>
				</div>
			</div>