<h4><a href="{{ site.baseurl }}/general/gettingstarted.html">Getting Started</a></h4>
	<ul>
		<li><a href="{{ site.baseurl }}/general/overview.html">Overview</a></li>
		<li><a href="{{ site.baseurl }}/general/quickstart.html">Quickstart</a></li>
		<li><a href="{{ site.baseurl }}/general/mainwindow.html">Main Window</a></li>
		<li><a href="{{ site.baseurl }}/general/preview.html">Preview</a></li>
		<li><a href="{{ site.baseurl }}/general/faq.html">FaQ</a></li>
	</ul>
<h4><a href="{{ site.baseurl }}/general/scenes.html">Scenes</a></h4>
	<ul>
		<li><a href="{{ site.baseurl }}/general/editmode.html">Edit Mode</a></li>
	</ul>
<h4><a href="{{ site.baseurl }}/sources/">Sources</a></h4>
	<ul>
		<li><a href="{{ site.baseurl }}/general/whatcapture.html">Which capture to use?</a>
		  <ul>
			<li><a href="{{ site.baseurl }}/sources/windowcapture.html">Window Capture</a></li>
			<li><a href="{{ site.baseurl }}/sources/monitorcapture.html">Monitor Capture</a></li>
			<li><a href="{{ site.baseurl }}/sources/gamecapture.html">Game Capture</a></li>
		  </ul>
		</li>
		<li><a href="{{ site.baseurl }}/sources/directshowvideo.html">Video Capture Device</a></li>
		<li><a href="{{ site.baseurl }}/sources/image.html">Image</a></li>
		<li><a href="{{ site.baseurl }}/sources/imgsld.html">Image Slide Show</a></li>
		<li><a href="{{ site.baseurl }}/sources/text.html">Text</a></li>
	</ul>
	<ul>
		<li><a href="{{ site.baseurl }}/sources/subregion.html">Sub-Regions </a></li>
		<li><a href="{{ site.baseurl }}/general/hotkeys.html">Hotkeys</a></li>
		<li><a href="{{ site.baseurl }}/general/globalsources.html">Global Sources</a></li>
		<li><a href="{{ site.baseurl }}/sources/plugins.html">Plugins</a></li>
	</ul>
<h4><a href="{{ site.baseurl }}/settings/">Basic Settings</a></h4>
	<ul>
		<li><a href="{{ site.baseurl }}/settings/generalsettings.html">General</a></li>
		<li><a href="{{ site.baseurl }}/settings/encodingsettings.html">Encoding</a></li>
		<li><a href="{{ site.baseurl }}/settings/broadcastsettings.html">Broadcast</a></li>
		<li><a href="{{ site.baseurl }}/settings/videosettings.html">Video</a></li>
		<li><a href="{{ site.baseurl }}/settings/audiosettings.html">Audio</a></li>
		<li><a href="{{ site.baseurl }}/settings/noisegate.html">Microphone Noise Gate</a></li>
	</ul>
<h4><a href="{{ site.baseurl }}/settings/advancedsettings.html">Advanced Settings</a></h4>
	<ul>
		<li><a href="{{ site.baseurl }}/general/auth.html">Server authentication</a></li>
		<li><a href="{{ site.baseurl }}/general/shortcut.html">Shortcut options</a></li>
		<li><a href="{{ site.baseurl }}/general/technical.html">Technical Explanations</a></li>
	</ul>
<h4>More</h4>
	<ul>
		<li><a href="{{ site.baseurl }}/general/development.html">Development</a></li>
		<li><a href="{{ site.baseurl }}/general/support.html">Support</a></li>
		<li><a href="https://github.com/jp9000/OBS/blob/master/AUTHORS">About</a></li>
	</ul>