<h4><a href="{{ site.baseurl }}/general/mainwindow.html">Main Window</a></h4>
    <ul>
        <li><a href="{{ site.baseurl }}/general/preview.html">Preview</a></li>
    </ul>
<h4><a href="{{ site.baseurl }}/general/scenes.html">Scenes</a></h4>
    <ul>
        <li><a href="{{ site.baseurl }}/general/editmode.html">Edit Mode</a></li>
    </ul>
<h4><a href="{{ site.baseurl }}/sources/">Sources</a></h4>
    <ul>
        <li><a href="{{ site.baseurl }}/general/whatcapture.html">Which capture to use?</a>
          <ul>
            <li><a href="{{ site.baseurl }}/sources/windowcapture.html">Window Capture</a></li>
            <li><a href="{{ site.baseurl }}/sources/monitorcapture.html">Monitor Capture</a></li>
            <li><a href="{{ site.baseurl }}/sources/gamecapture.html">Game Capture</a></li>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}/sources/directshowvideo.html">Video Capture Device</a></li>
        <li><a href="{{ site.baseurl }}/sources/image.html">Image</a></li>
        <li><a href="{{ site.baseurl }}/sources/imgsld.html">Image Slide Show</a></li>
        <li><a href="{{ site.baseurl }}/sources/text.html">Text</a></li>
    </ul>
<h4><a href="{{ site.baseurl }}/features/index.html">Features</a></h4>
    <ul>
        <li><a href="{{ site.baseurl }}/features/globalsources.html">Global Sources</a></li>
        <li><a href="{{ site.baseurl }}/features/plugins.html">Plugins</a></li>
        <li><a href="{{ site.baseurl }}/features/profiles.html">Profiles</a></li>
        <li><a href="{{ site.baseurl }}/features/replay.html">Replay Buffer</a></li>
        <li><a href="{{ site.baseurl }}/features/scenecollection.html">Scene Collection</a></li>
        <li><a href="{{ site.baseurl }}/features/subregion.html">Sub-Regions</a></li>
    </ul>
<h4><a href="{{ site.baseurl }}/settings/">Basic Settings</a></h4>
    <ul>
        <li><a href="{{ site.baseurl }}/settings/generalsettings.html">General</a></li>
        <li><a href="{{ site.baseurl }}/settings/encodingsettings.html">Encoding</a></li>
        <li><a href="{{ site.baseurl }}/settings/broadcastsettings.html">Broadcast</a></li>
        <li><a href="{{ site.baseurl }}/settings/videosettings.html">Video</a></li>
        <li><a href="{{ site.baseurl }}/settings/audiosettings.html">Audio</a></li>
        <li><a href="{{ site.baseurl }}/settings/hotkeys.html">Hotkeys</a></li>
        <li><a href="{{ site.baseurl }}/settings/noisegate.html">Microphone Noise Gate</a></li>
    </ul>
<h4><a href="{{ site.baseurl }}/settings/advancedsettings.html">Advanced Settings</a></h4>
    <ul>
        <li><a href="{{ site.baseurl }}/general/auth.html">Server authentication</a></li>
        <li><a href="{{ site.baseurl }}/general/shortcut.html">Shortcut options</a></li>
        <li><a href="{{ site.baseurl }}/general/technical.html">Technical Explanations</a></li>
        <li><a href="{{ site.baseurl }}/general/development.html">Development</a></li>
    </ul>
<h4><a href="{{ site.baseurl }}/general/faq.html">FAQ</a></h4>