*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html {
	overflow-y: scroll;
}
img {
	display: block;
	margin: 0 auto !important;
}
.gray_border {
	display: block;
	margin: 0 auto !important;
	border: 1px solid gray;
}
.red_marker {
	color: #F00;
}
.own_grid {
	width:234px;
	display:inline-block;
	vertical-align:top;
}
.own_grid2 {
	width:49%;
	display:inline-block;
	vertical-align:top;
	text-align: left;
}
.own_grid2b {
	width: 49%;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}
.own_grid3 {
	width:99%;
	display:inline-block;
	vertical-align:top;
	text-align: left;
}